@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
}
body {
  background: hsl(207, 26%, 17%);
}

#link {
  text-decoration: none;
}

.centered-components {
  max-width: 80vw;
  margin: 0 auto;
}
